{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% stylesheets filter='cssrewrite' 
                '../web/bundles/metropoliadoggie/css/owl.carousel.css'
                '../web/bundles/metropoliadoggie/css/owl.theme.css'
                '../web/bundles/metropoliadoggie/css/owl.transitions.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}

<div class="slider-area">
            <div class="slider">
                <div id="bg-slider" class="owl-carousel owl-theme">
                  <div class="item">
                      {% image 'img/slider-image-2.jpg' %}
                        <img src="{{ asset_url }}" alt="group of dogs"/>
                      {% endimage %}
                    </div>
                  <div class="item">
                      {% image 'img/slider-image-1.jpg' %}
                        <img src="{{ asset_url }}" alt="two dogs autumn"/>
                      {% endimage %}
                    </div>
                </div>
            </div>
            <div class="container slider-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <h2>Find the right service <br> for your dog!</h2>
                        <p>Here you can find different helpful services which make the life with your dog lovelier than it already is.</p>
                        <div class="search-form wow pulse" data-wow-delay="0.8s">
                            {{ form_start(form, {'attr': {'id': 'main-search', 'class': 'form-inline'}, 'action': path('MetropoliaDoggieBundle_home'), 'method': 'POST'}) }}
                            
                            
                            <div class="form-group">
                                {{ form_widget(form.search, { 'id': 'search-box',  'attr': { 'class' : 'form-control', 'placeholder' : 'What are you searching for?' }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.location, { 'id': 'location-box',  'attr': { 'class' : 'form-control', 'placeholder' : 'Where?' }}) }}
                            </div>
                            <div class="form-group">
                                    <select name="" id="" class="form-control">
                                        <option>Do you have any disabilities?</option>
                                        <option selected>I have no disabilities</option>
                                        <option>I use a hearing aid</option>
                                        <option>I am visually impaired</option>
                                        <option>I have trouble distinguishing colours</option>
										<option>I use a wheelchair</option>
										<option>I have reduced mobility</option>
										<option>I use a rollator</option>
										<option>I push a stroller</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.radius, { 'id': 'radius-select',  'attr': { 'class' : 'form-control' }}) }}
                                </div>
            
                            {{ form_row(form.categoryChoice, {'label': 'Categories:'}) }}
                            
                            <br>

                            <input type="submit" class="btn" value="Search" /><br>


                            {{ form_end(form) }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="content-area">
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Events</h1>
            </div>
        </div>
        <!-- /.row -->

     </div>
</div>



{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts '@MetropoliaDoggieBundle/Resources/public/js/linked-events-data.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}