{# src/Metropolia/DoggieBundle/Resources/views/Page/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    
            <!--
            <form id="search">
                <input type="text" id="search-box" placeholder="Type something to search" />
                <input id="search-submit" type="submit" value="Let's go" /> 
                <p>Or choose a category</p>
                <input type="checkbox" name="search-category" id="pet_store" value="pet_store">Pet store
                <input type="checkbox" name="search-category" id="veterinary_care" value="veterinary_care">Veterinary clinic
                <input type="checkbox" name="search-category" id="dog_park" value="dog_park"> Dog park
            </form>
            -->
            {{ form_start(form, {'attr': {'id': 'main-search'}, 'action': path('MetropoliaDoggieBundle_home'), 'method': 'POST'}) }}
            
            {{ form_widget(form.search, { 'id': 'search-box',  'attr': { 'placeholder' : 'Type something to search' }}) }}
            {{ form_row(form.categoryChoice, {'label': 'Categories:'}) }}
                
            <input id="search-submit" type="submit" value="Let's go" />
            
            
            {{ form_end(form) }}
            <!--<button id="dog-parks-button">Get dog parks</button>-->
            <!--<div id="map"></div>-->
            <!--
            <div id="place-info-container">
            </div>
            -->
           
{% endblock %}




