{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/metropoliadoggie/js/service-map-data.js') }}"></script>
<script src="{{ asset('bundles/metropoliadoggie/js/linked-events-data.js') }}"></script>
{% endblock %}
{% block body %}
<div id="search-data-container">
    {% if input %}
        <div id="input-data" data-id="{{ input }}"></div>
    {% endif %}
    {% if categories %}
        {% for category in categories %}
                 <div class="categories-data" data-id="{{ category }}"></div>   
        {% endfor %}
    {% endif %}
</div>
<div id="sidebar">
    <div id="sidebar-content-wrapper">
    </div>
    <div class="sidebar-footer">
        <button id="places-show-more">Show more</button>
    </div>
</div>
<div id="map"></div>
  
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjNIf6mCE2DrA47S_luSKHtrgYFgbUFJA&libraries=places&callback=initMap"
    async defer></script>  
<script src="{{ asset('bundles/metropoliadoggie/js/doggie.js') }}"></script>  
{% endblock %}


    

